
.container{
    display: flex;
    background-color: rgb(6, 6, 7);
    width: 30%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px px;
    cursor: pointer;
}

.topRow{
    background : linear-gradient(90deg,rgb(14, 13, 11),rgb(1,1,1));
    backdrop-filter: blur(.4rem);

}
.topRow h4{
    color: rgba(179, 126, 11, 0.87);
    font-size: 1.1rem;
    letter-spacing: .2rem;
}

.card{
    border-radius: 1.1rem;
    box-shadow: 1rem 1rem 1rem rgba(174, 185, 9, 0.3);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    width: 20rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(1, 12, 11, 0.842);
    border: .1rem solid rgba(255,255,255,0.06);
   color: seashell;
}

.card h2{
    letter-spacing: .1rem;
    margin: 1rem 0;;
}

.topRow{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.content{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.content p{
    font-size: .9rem;
}

.button{
    border-radius: 3rem;
    color: rgb(187, 199, 17);
    font-size: 1.2rem;
    padding: .8rem .3rem;
    align-self: flex-end;
    border: .1rem solid rgba(255,255,255,0.06);
}
.topRow h2{

}