.container{
    background-color: rgb(7,6,6);
    height: 500px;
    width: 100vw;
    position: relative;
    overflow: hidden;

    
    
}

.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper{
    display: flex;
    height: 100%;
    width: 280vw;
    transition: all 1.7s ease-in-out;
    align-items: center;
}

.imgContainer {
    width: 100vw;
    height: 70%;
    position: relative;
    
}


@media screen and (max-width : 480px) {
  
    .container{
      height: 45vh;
      width: 107%;
    }
    .wrapper{
        display: flex;
        height: 100%;
        width: 305vw;
        transition: all 1.7s ease-in-out;
        align-items: center;
        
    }

    .imgContainer {
        width: 130vw;
        height: 100%;
        position: relative;
        margin: 0 20px;
        
        
    }
  }
  