.container {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.informacion{

    flex: 3;
    display: flex;
    align-items: center;
    padding: 25px;
  
    
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 20px;
}


.parrafo{
    color: rgb(246, 247, 242);
    text-shadow: 2px 1px 12px rgba(220, 200, 10, 0.6);
}



.redes{
  display: flex;
   flex: 1;
   align-items: center;
   justify-content: space-around;
}

.whatsapp{
    color: rgb(43, 183,65);
    
    width: 25px;
}

.facebook{
    color: rgb(59, 89, 152);
  
    width: 25px;
}

.instagram{
    color: rgb(225,48,108);
   width: 25px;
    
}

@media screen and (max-width : 480px) {
  
    .container{
        width: 107vw;
        flex-direction: column;
    }
    .informacion{
        display: flex;
        align-items: center;
        margin: auto 50px;
    }
    .parrafo{
        width: 150px;
        text-align: center;
    }
    .whatsapp{
        margin: 5px 20px 10px 20px;
    }
    .facebook{
        margin: 5px 20px 10px 20px;
    }
    .instagram{
        margin: 5px 20px 10px 20px;
    }
  }