.container{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(256, 255, 253);
}

.title{
    font-size: 34px;
    color: rgb(12, 11, 8);
  
}

.desc{
    font-size: 24px;
    color: rgb(5, 5, 3);
    width: 71%;
  text-align: center;
}


.wrapper{
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}


@media screen and (max-width:480px) {
  .container{
      margin-top: 20px;
  }
  .wrapper{
    flex-direction: column;
  }
}