.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    margin-right: 20px;
}

.titulo{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: 50px;
}
.imagen{
  
    margin: 0 25px;
}

.containerTexto{
    
    box-shadow: -5px -5px 10px rgba(255,255,254,0.05),
    5px 5px 10px rgb(0 , 0, 0,0.5);
}

.containerTexto:hover{
    box-shadow: -5px -5px 10px rgba(0,0,0,0.5),
    5px 5px 10px rgb(255 ,255, 255,0.05);
}




.list{
    display: flex;
    flex-direction: column;
    margin: 30px;
    line-height: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}





@media screen and (max-width : 480px) {
    .container {
        flex-direction: column;
        margin-bottom: 800px;
    }
    .titulo{
        text-align: center;
        font-size: 45px;
        font-weight: 800;
    }
}